*~
*.backup
*.sw[op]
.DS_Store
.wrangler
node_modules/
playground/jsonld.js
_site/

# IDE
.cursor/

# Playwright
# https://playwright.dev/docs/test-reporters#reporters
test-results/
playwright-report/
playwright/.cache/
blob-report/
